*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: #f0f0f0;
}

.card{
    width: 90%;
    max-width: 470px;
    background-color: #e1eafc;
    color: #232323;
    margin: 50px auto 0;
    border: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search-bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar input{
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search-bar button{
    width: 60px;
    height: 60px;
    border: 0;
    outline: 0;
    background-color: #00ffa3;
    color: #37007A;
    border-radius: 50%;
    font-size: 22px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.search-bar button img{
    width: 16px;
}

.wheater-icon{
    width: 170px;
    margin: 30px;
}

.wheater h1{
    font-size: 80px;
    font-weight: 500px;
}

.wheater h2{
    font-size: 32px;
    font-weight: 500px;
    margin-bottom: 20px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.col img{
    width: 42px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}

.wheater{
    display: none;
}

.error{
    display: none;
    background-color: #ffcccc;
    color: #a70000;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 10px;
}




